<%- include('./_header.ejs') -%>

<ul class="navbar-nav">
  <li><a href="/team"><h2>Team Stats</h2></a></li>
  <li><a href="/calculator"><h2>Trade Calculator</h2></a></li>
</ul>

<%- include('./_footer.ejs') -%>