<%- include('./_header.ejs') -%>

  <h2>Team Stats</h2>

  <label id="lbl_teamSelect" for="teamSelect">Select Team</label>
  <select id="teamSelect" name="teamSelect">
    <% Object.keys(teams).forEach(team => { %>
      <option><%= teams[team] %></option>
    <% }) %>
  </select>
  <table id="teamTable" name="teamTable">
  </table>

  

<%- include('./_footer.ejs') -%>