<%- include('./_header.ejs') -%>

  <h2>Team Stats</h2>

  <label for="teamSearch">Select Team</label>
  <select id="teamSearch" name="teamSearch">
    <% Object.keys(teams).forEach(team => { %>
      <option><%= teams.team %></option>
    <% }) %>
  </select>
  <table id="teamTable" name="teamTable">
  </table>

  

<%- include('./_footer.ejs') -%>